<footer class="page__footer">
  <button class="page__footer__button">
    <a href="#"><img src="./assets/images/ico-arrow.svg" alt=""/></a>
  </button>
  <div class="page__footer__wrapper">
    <nav class="page__footer__navigation">
      <ul class="page__footer__navigation--products">
        <li><a href="@@link-adalab" title="articles">articles</a></li>
        <li><a href="@@link-adalab" title="books">books</a></li>
        <li><a href="@@link-adalab" title="events">events</a></li>
        <li><a href="@@link-adalab" title="reasons">reasons</a></li>
        <li><a href="@@link-adalab" title="tips">tips</a></li>
      </ul>
    </nav>
    <nav class="page__footer__navigation">
      <ul class="page__footer__navigation--media" title="Adalab">
        <li><a href="@@link-adalab" title="Adalab">twitter</a></li>
        <li><a href="@@link-adalab" title="Adalab">instagram</a></li>
        <li><a href="@@link-adalab" title="Adalab">mastodon.social</a></li>
      </ul>
    </nav>
    <aside class="page__footer__credits">
      <small class="page__footer__credits--copyright">&copy;2017</small>
      <p class="page__footer__credits--info">we <span class="heart">❤︎ </span> components</p>
    </aside>
  </div>
</footer>
