<footer class="page__footer">
  <button class="page__footer__button">
    <a href="#"><img src="./assets/images/ico-arrow.svg" alt=""/></a>
  </button>
  <div class="page__footer__wrapper">
    <nav class="page__footer__navigation--products">
      <ul class="page__footer__navigation--products--list">
        <li>
          <partial src="_link.html" link-adalab="https://adalab.es" title="Articles"></partial>
        </li>
        <li><partial src="_link.html" link-adalab="https://adalab.es" title="Books"></partial></li>
        <li><partial src="_link.html" link-adalab="https://adalab.es" title="Events"></partial></li>
        <li><partial src="_link.html" link-adalab="https://adalab.es" title="Reasons"></partial></li>
        <li><partial src="_link.html" link-adalab="https://adalab.es" title="Tips"></partial></li>
      </ul>
    </nav>
    <nav class="page__footer__navigation--media">
      <ul class="page__footer__navigation--media--list" title="Adalab">
        <li><partial src="_link.html" link-adalab="https://adalab.es" title="Twitter"></partial></li>
        <li><partial src="_link.html" link-adalab="https://adalab.es" title="Instagram"></partial></li>
        <li><partial src="_link.html" link-adalab="https://adalab.es" title="Mastodon.social"></partial></li>
      </ul>
    </nav>
    <aside class="page__footer__credits">
      <small class="page__footer__credits--copyright">&copy;2017</small>
      <p class="page__footer__credits--info">we <span class="heart">❤︎ </span> components</p>
    </aside>
  </div>
</footer>
