<footer class="page__footer">
  <button class="page__footer__button"></button>
  <nav class="page__footer__navigation">
    <ul class="page__footer__navigation--products">
      <li><a href="https://adalab.es/" title="articles"></a>articles</li>
      <li><a href="https://adalab.es/" title="books"></a>books</li>
      <li><a href="https://adalab.es/" title="events"></a>events</li>
      <li><a href="https://adalab.es/" title="reasons"></a>reasons</li>
      <li><a href="https://adalab.es/" title="tips"></a>tips</li>
    </ul>
  </nav>
  <nav class="page__footer__navigation">
    <ul class="page__footer__navigation--media" title="Adalab">
      <li><a href="https://adalab.es/" title="Adalab"></a>twitter</li>
      <li><a href="https://adalab.es/" title="Adalab"></a>instagram</li>
      <li><a href="https://adalab.es/" title="Adalab"></a>mastodon.social</li>
    </ul>
  </nav>
  <aside class="page__footer__credits">
    <small class="page__footer__credits--copyright">&copy;2017</small>
    <p class="page__footer__credits--info">
      we <span class="heart">❤︎ </span> components
    </p>
  </aside>
</footer>
