<header class="page__header">
  <nav class="page__header__navigation">
    <a href="https://adalab.es/" title="Adalab" target="_blank">
      <img src="./assets/images/ico-menu.svg" alt="Navigation menu" class="page__header__navigation--hamburger" />
    </a>
  </nav>
  <div class="page__header__wrapper">
    <h1 id="top" class="page__header__title">anonymus proxy</h1>
    <h2 class="page__header__motto">In hac habitasse platea dictumst.</h2>
    <a class="page__header__button" href="#services" title="Check our services" target="_black"> <img src="./assets/images/ico-scroll-down.svg" alt="Discover more" /> </a>
  </div>
</header>
