<section class="page__section">
  <h2 id="services" class="page__section__title">
    3 reasons to purchase
  </h2>
  <partial src="_article.html" class="page__section__info one" title="Ut sed metus" content="Lorem ipsum dolor sit amet, consecteur."></partial>
  <partial src="_article.html" class="page__section__info two" title="Curabitur ac erat" content="auris mattis urna quis lorem molestie."> </partial>
  <partial src="_article.html" class="page__section__info three" title="Morbi dictum" content="Aliquam in dolor et dolor tincidunt."></partial>
  <button class="page__section__button"
  href="#" title="more reasons">more reasons
  </button>
</section> 
</section>
