<section class="page__section">
  <h2 class="page__section__title">
    3 reasons to purchase
  </h2>
  <article class="page__section__info one">
    <h3 class="page__section__info--title">Ut sed metus</h3>
    <p class="page__section__info--content">
      Lorem ipsum dolor sit amet, consecteur.
    </p>
  </article>
  <article class="page__section__info two">
    <h3 class="page__section__info--title">Curabitur ac erat</h3>
    <p class="page__section__info--content">
      Mauris mattis urna quis lorem molestie.
    </p>
  </article>
  <article class="page__section__info three">
    <h3 class="page__section__info--title">Morbi dictum</h3>
    <p class="page__section__info--content">
      Aliquam in dolor et dolor tincidunt.
    </p>
  </article>
  <button class="page__section__button">
    <a href="#" title="more reasons">more reasons</a>
  </button>
</section>
