.page__header {
  background-image: url(../images/cover.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__navigation {
    height: 44px;
    width: 44px;
    background: #0271bc;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: $color-primary;
    font-family: $font-family-title;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    width: 290px;
    height: 110px;
    margin-bottom: 10px;
    line-height: 55px;
    @media all and (min-width: 768px) {
      width: 730px;
      height: 264px;
      font-size: 80px;
      line-height: 106px;
    }
    @media all and (min-width: 1200px) {
      width: 730px;
      height: 212px;
      font-size: 100px;
      line-height: 132px;
    }
  }
  &__motto {
    font-family: $font-family-content;
    color: $color-primary;
    font-size: 16px;
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
    @media all and (min-width: 1200px) {
      margin-top: 45px;
    }
  }
  &__button {
    width: 45px;
    height: 45px;
    margin-bottom: 45px;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}
